* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* common css */
.content-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-primary {
  color: #fff;
  background-color: #e55473;
  border-radius: 8px;
  border: none;
  padding: 22px 45px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.section-heading {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

/* banner style */
header {
  background-color: rgba(229, 84, 115, 0.1);
  margin-bottom: 178px;
}
.banner {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  padding-top: 30px;
  gap: 95px;
}
.banner-tile {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
}
.banner-content {
  max-width: 700px;
  padding-top: 190px;
}
/* Feature flower section */
.featured-flowers {
  margin: 0 auto 128px auto;
  width: 1440px;
  text-align: center;
}
.showCase-flowers {
  display: flex;
  gap: 25px;
}
.flower {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: url("./Flower Asset/pngwing 5.png"), rgba(167, 33, 98, 0.15);
  background-repeat: no-repeat;
  background-position: center;
}
.img-description {
  margin-top: 32px;
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
}
/* service section styles */
.services {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 1440px;
  height: 320px;
  /* padding: 85px 175px; */
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  border: none;
  text-align: center;
  margin: 0 auto 128px auto;
}

/* sale up section */
.sale-up {
  display: flex;
  gap: 185px;
  justify-content: center;
  align-items: center;
  margin-bottom: 128px;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  text-align: center;
  padding: 100px 0;
}

.sale-up span {
  color: #e55473;
}

/* Instagram section*/
.instagram {
  /* display: flex; */
  text-align: center;
  margin: 0px auto 128px auto;
}

.instagram-image-conteinar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
