* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

/* common css */
.content-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.btn-primary {
  color: #fff;
  background-color: #e55473;
  border-radius: 8px;
  border: none;
  padding: 20px 40px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* banner style */
header {
  /* background-color: rgba(229, 84, 115, 0.1); */
}
.banner {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  padding-top: 50px;
}
.banner-tile {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
  line-height: normal;
}
.banner-content {
  max-width: 700px;
  padding-top: 190px;
}
/* Feature flower section */
.flower {
}
